*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  color: #222;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #F7F7F7;
  overflow-x: hidden;
}
@media (max-width: 56em) {
  body {
    padding: 0;
  }
}

.u-centered-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

[class^=heading-] {
  text-transform: uppercase;
}

.heading-primary--main {
  font-size: 6rem;
  display: block;
  color: white;
  letter-spacing: 3rem;
  font: 400;
  animation: moveFromLeft 3s ease-in-out 1;
}
@media (max-width: 600px) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  color: white;
  display: block;
  letter-spacing: 1.7rem;
  font-size: 700;
  animation: moveFromRight 3s ease-in-out;
}
@media (max-width: 56em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  letter-spacing: 2px;
  display: inline-block;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.4s ease-in-out;
  text-align: center;
}
@media (max-width: 1200px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-overflow: 0.5rem 1rem 2rem rgba(34, 34, 34, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  color: #868686;
}

p {
  font-size: 1.6rem;
  color: #868686;
}
p:not(:last-child) {
  margin-bottom: 4rem;
}

.card-paragraph {
  margin-bottom: 2rem;
  color: white;
  font-weight: 300;
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.7;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0.7;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideFromDown {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 90vh;
  position: relative;
  clip-path: polygon(0 0, 100%, 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 600px) {
  .header {
    clip-path: polygon(0 0, 100%, 0, 100% 85vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 3.5rem;
}
.header__banner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-center, .about-center, .card-center, .grid-row {
  display: grid;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 4rem;
  justify-content: center;
}

.section-center {
  max-width: 114rem;
  margin: 0 auto;
}

.grid-row {
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}
@media (max-width: 1200px) {
  .grid-row {
    padding: 0 3rem;
  }
}

.card-center {
  grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
}
@media (max-width: 1200px) {
  .card-center {
    padding: 0 3rem;
  }
}

.about-center {
  grid-template-columns: repeat(auto-fill, minmax(54rem, 1fr));
}
.footer-center {
  grid-template-columns: repeat(auto-fit, minmax(54rem, 1fr));
}

.story-center {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 4rem;
  justify-content: center;
}
@media (max-width: 600px) {
  .story-center {
    padding: 0 7rem;
  }
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  color: #f7f7f7;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 56em) {
  .footer {
    padding: 8rem;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__footer-logo {
  width: 15rem;
  height: auto;
}
.footer__links {
  list-style-type: none;
}
.footer__link {
  display: inline-block;
  transform: all 0.4s ease-in-out;
}
.footer__link:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__navigation {
  border-top: 2px solid rgba(119, 119, 119, 0.4666666667);
  display: inline-block;
}
@media (max-width: 56em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__item:link, .footer__item:visited {
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  margin-top: 2rem;
}
.footer__item:hover, .footer__item:active {
  color: #55c57a;
  transform: rotate(5deg) scale(1.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.footer__text {
  color: inherit;
  letter-spacing: 1px;
  width: 78%;
  border-top: 2px solid rgba(119, 119, 119, 0.4666666667);
  padding-top: 2rem;
  margin: 0 auto;
}
@media (max-width: 56em) {
  .footer__text {
    width: 50%;
    margin: 0 auto;
    float: none;
    padding-bottom: 0;
  }
}

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 6rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3rem;
  z-index: -1;
  transition: all 0.4s ease;
}
.btn--white::after {
  background: white;
}
.btn--white {
  background: white;
  color: #777777;
}
.btn--green::after {
  background: #55c57a;
  color: white;
}
.btn--green {
  background: #55c57a;
  color: white;
}
@media (max-width: 56em) {
  .btn--green {
    margin-top: 0rem !important;
  }
}
.btn--animated {
  animation: slideFromDown 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 3px;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-text:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: #55c57a;
  color: white;
}
.btn-text:active {
  transform: translate(0);
}

.composition {
  position: relative;
  transition: all 0.4s ease-in-out;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, 0.4);
  margin: 0 auto;
  position: absolute;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  outline-offset: 2rem;
  z-index: 0;
}
@media screen and (max-width: 1026px) {
  .composition__photo {
    float: left;
    display: block;
    width: 28%;
    box-shadow: 0 1.5rem 3rem rgba(34, 34, 34, 0.2);
    position: relative;
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media screen and (max-width: 1026px) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.3);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media screen and (max-width: 1026px) {
  .composition__photo--p2 {
    top: -1rem;
    left: 0;
    transform: scale(1.3);
    z-index: 1;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media screen and (max-width: 1026px) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(34, 34, 34, 0.5);
  z-index: 1;
  outline: 1.5rem solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature {
  font-size: 1.5rem;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}
.feature__icon {
  font-size: 6rem;
  background-image: linear-gradient(#7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
  color: transparent;
}
.feature:hover {
  transform: translateY(-1.5rem);
}
.feature__text, .feature h3 {
  font-size: 1.5rem;
}
.feature__text {
  margin: 0 auto;
}
@media (max-width: 56em) {
  .feature__text {
    width: 27rem;
  }
}
@media (max-width: 600px) {
  .feature__text {
    width: 17rem;
  }
}

.card {
  perspective: 1500px;
  position: relative;
  height: 50rem;
  transition: all 0.8 ease-in-out;
}
.card__side {
  width: 100%;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: black;
  transition: all 0.8s ease-in-out;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  text-align: center;
  overflow: hidden;
  transform: rotateY(180deg);
  background-color: blue;
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #299bff, #5643fa);
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #299bff, #5643fa), url(../img/nat-5.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card__heading {
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  font-size: 2.8rem;
  padding: 1rem;
  font-weight: 300;
  width: 25rem;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, #299bff, #5643fa);
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__details ul {
  list-style-type: none;
  text-align: center;
}
.card__details ul li {
  width: 80%;
  font-size: 1.5rem;
  color: #7F7F7F;
  padding: 1rem;
  margin: 0 auto;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-price-box {
  color: white;
  text-transform: uppercase;
}
.card-price-value {
  font-weight: 100;
  font-size: 6rem;
}
.card-price-only {
  font-size: 1.4rem;
}

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
}
@media (max-width: 56em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 600px) {
  .story {
    transform: skewX(0);
  }
}
.story > * {
  transform: skew(12deg);
}
@media (max-width: 600px) {
  .story > * {
    transform: skewX(0);
  }
}
.story__shape {
  height: 15rem;
  width: 15rem;
  shape-outside: circle(50% at 50% 50%);
  float: left;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  margin-bottom: 3rem;
}
@media (max-width: 600px) {
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}
@media screen and (max-width: 576px) {
  .story__shape {
    shape-outside: none;
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.story__image {
  height: 100%;
  transform: scale(1.4) translateX(-4rem);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.story__caption {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  text-align: center;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story:hover .story__image {
  transform: scale(1) translateX(-4rem);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 2px;
  width: 100%;
  display: block;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
  color: inherit;
  transition: all 0.4s ease-in-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #28b485;
  transition: all 0.4s ease-in-out;
}
.form__input:focus:invalid {
  border-color: #ff7730;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: none;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: none;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__label {
  color: #A2A2A2;
  padding-left: 2rem;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  margin-top: 0.7rem;
}
.form__radio-group {
  width: 49%;
  display: inline-block;
  font-size: 1.6rem;
}
@media screen and (max-width: 775px) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  position: relative;
  padding-left: 4.5rem;
  cursor: pointer;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  content: " ";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.about-section {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 56em) {
  .about-section {
    padding: 20rem;
  }
}
@media (max-width: 600px) {
  .about-section {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: -10vh;
  }
}

.section-features {
  padding: 20rem;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 56em) {
  .section-features {
    padding: 15rem;
  }
}
@media (max-width: 600px) {
  .section-features {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: -10vh;
  }
}

.section-tours {
  background-color: #F7F7F7;
  padding: 20rem 0;
  margin-top: -10rem;
}
@media (max-width: 56em) {
  .section-tours {
    padding: 15rem;
  }
}
@media (max-width: 600px) {
  .section-tours {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: -10vh;
  }
}

.section-story {
  padding: 15rem 0;
  position: relative;
}
@media (max-width: 56em) {
  .section-story {
    padding: 10rem;
  }
}
@media (max-width: 600px) {
  .section-story {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 600px) {
  .section-book {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media (max-width: 56em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url("../img/nat-10.jpg");
    background-size: cover;
  }
}
@media (max-width: 600px) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 56em) {
  .book__form {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .book__form {
    width: 100%;
  }
}

.about-text {
  max-width: 45rem;
  text-align: center !important;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */