// COLORS VARIABLE
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$transition :all 0.4s ease;

// GRID
$grid-width :114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;