// COLORS VARIABLE
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black:#2222;
$color-white:#fff;
$color-dark:#0000;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#299bff;
$color-tertiary-dark:#5643fa;

$transition :all 0.4s ease-in-out;

// GRID
$grid-width :114rem;
$gutter-vertical:6rem;
$gutter-horizontal:6rem;

// FONT SIZE
$default-font-size:1.6rem;