
a {
    text-decoration: none;
}
[class^="heading-"] {
    text-transform: uppercase;
}
.heading-primary {

    &--main {
        font-size: 6rem;
        display: block;
        color: white;
        letter-spacing: 3rem;
        font: 400;
        animation: moveFromLeft 3s ease-in-out  1 ;
    }
    &--sub {
        font-size: 2rem;
        color: white;
        display: block;
        letter-spacing: 1.7rem;
        font-size: 700;
        animation: moveFromRight 3s ease-in-out ;
    }
}
.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, rgba($color-primary-light,1), rgba($color-primary-dark,1));
    letter-spacing: 2px;
    display: inline-block;
    background-clip:text;
    color: transparent;
    transition: $transition;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-overflow: .5rem 1rem 2rem rgba($color-black,0.2);
    }
}
.heading-tertiary {
    font-size: $default-font-size;
    color: #868686;
}
p {
    font-size:$default-font-size ;
    color: #868686;
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}